<h1>Available users</h1>
<ul>
  <% @users.each do |user| %>
  <li>
    <h2>
      User #<%= link_to user.id, user_path(user)%>
    </h2>
    <p>Nom: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Role: <%= user.role %></p>
  </li>
  <% end %>

</ul>
