<div class="card">
  <div class="card-header">
    <h2>
      Usuari #<%= @user.id %>
    </h2>
  </div>
  <div class="card-body">
    <p>Nom: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Rol: <%= @user.role %></p>
  </div>

</div>
