<% content_for :title do %>
  Available clients
<% end %>


<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Available clients
    </h4>
  </div>
  <div class="card-body">
    <% @clients.each do |client| %>
      <h4 class="card-title">
        <%= link_to client.name, client_path(client)%>
      </h4>
    <% end %>

    <% if policy(Client.new).new? %>
      <%= link_to "Enter a new client", new_client_path, class: "btn btn-primary btn-wd"%>
    <% end %>
  </div>
</div>
