<% content_for :title do %>
  Available clients
<% end %>


<% if policy(Client.new).new? %>
  <%= link_to "Enter a new client", new_client_path, class: "btn btn-primary btn-wd"%>
<% end %>
<div><br></div>

<h4>
  Available clients
</h4>
  <% @clients.each do |client| %>
<div class="card">
    <div class="card-body">
      <h4 class="card-title">
        #<%= client.id %> <%= link_to client.name, client_path(client)%>
      </h4>
    </div>
</div>
  <% end %>
