<h1>Available clients</h1>


<% if policy(Client.new).new? %>
  <%= link_to "Enter a new client", new_client_path%>
<% end %>
<ul>
  <% @clients.where(lloguer: true).each do |client| %>
  <li>
    <h2>
      Client: <%= link_to client.name, client_path(client)%>
    </h2>
    <p>Id: <%= client.id %></p>

    <!-- <p>Event of<= link_to client.event.activitystart, event_path(@event)%></p> -->
  </li>
  <% end %>
</ul>
  <p><%= link_to "Back home", root_path %></p>
