<% content_for :title do %>
  <!-- Available clients -->
<% end %>

<h4>
  Llista de clients
</h4>
<p></p>

<% if policy(Client.new).new? %>
  <%= link_to "Nou client", new_client_path, class: "btn btn-info btn-wd btn-outline"%>
<% end %>
<p></p>
  <% @clients.each do |client| %>
<div class="card">
    <div class="card-body">
      <h4 class="card-title">
        #<%= client.id %> <%= link_to client.name, client_path(client)%>
      </h4>
    </div>
</div>
  <% end %>
