<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card card-calendar">
      <div class="card-body ">
        <div class='calendar'></div>
      </div>
    </div>
  </div>
</div>

<% unless params[:print] %>
  <h4><%= link_to 'Versió per a imprimir', calendar_path(print: true), data: { turbolinks: false }, class: "btn btn-warning btn-wd" %></h4>
<% end %>
