<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card card-calendar">
      <div class="card-body ">
        <div class='printCalendar' data-view="<%= params[:view_type] %>" data-date="<%= params[:date] %>"></div>
      </div>
    </div>
  </div>
</div>

