<!DOCTYPE html>
<html>
  <head>
    <title>CercleApp</title>
<link rel='stylesheet' href='assets/fullcalendar.min.css'/>
<script src='assets/jquery.min.js'></script>
<script src='assets/moment.min.js'></script>
<script src='assets/fullcalendar.js'></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
